<div class="home-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <img src="assets/images/bg.png">
            </div>
            <div class="col-md-6 col-sm-12 d-flex align-items-center">
                <div class="full-width">
                    <div class="offset-sm-3 col-sm-6 mb-3">
                        <a routerLink="rates">
                            <div class="item ">
                                <i class="fas fa-percent mb-2 "></i>
                                <h3>Rates</h3>
                            </div>
                        </a>
                    </div>
                    <div class="offset-sm-3 col-sm-6 mb-3">
                        <a routerLink="employees">
                            <div class="item ">
                                <i class="fas fa-users mb-2 "></i>
                                <h3>Employees</h3>
                            </div>
                        </a>
                    </div>
                    <div class="offset-sm-3 col-sm-6">
                        <a routerLink="about-us">
                            <div class="item ">
                                <i class="fas fa-info-circle mb-2 "></i>
                                <h3>About us</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 col-sm-12 ">
                <a routerLink="rates ">
                    <div class="item ">
                        <i class="fas fa-percent mb-2 "></i>
                        <h3>Rates</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <a routerLink="employees ">
                    <div class="item ">
                        <i class="fas fa-users mb-2 "></i>
                        <h3>Employees</h3>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <a routerLink="about-us ">
                    <div class="item ">
                        <i class="fas fa-info-circle mb-2 "></i>
                        <h3>About us</h3>
                    </div>
                </a>
            </div> -->
        </div>
    </div>
</div>